* {
  box-sizing: border-box;
  /* 幅を固定できる */
}

html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  position: relative;
  font-size: 1rem;
  width: 1200px;
}


header {
  /* position: absolute; */
  top: 0;
  width: 1200px;
  height: 3%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  margin: auto;
  background: linear-gradient(-45deg, #ba49bb, #7c2a53, #d52335, #f2083f);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2{
  font-size: 2rem;
  font-weight: bolder;
  text-align: center
}


#table{
top: 20%;
}
#table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

#table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
#table td {
  width: 350px;
  padding: 10px;
  text-align: center;
}

.up{
  display: flex;
  margin-bottom: 20px;
}

#update{
  position: absolute;
  right: 0%;
  vertical-align: bottom;
  font-size: 10px;
  height: 20px;
  color: black;
  border-right: 4px solid #cea82c;
  border-bottom: 4px solid #987c1e;
  border-left: 4px solid #eccb0b;
  border-radius: 0;
  background: linear-gradient(-90deg, #ffd75b 0%, #f1f105 50%, #fdd456 100%);
}
